body {
  background-color: grey;
  background-attachment: fixed;
  color: white;
  font-family: 'Courier New', monospace;
  padding-left: 20px;
  padding-right: 20px;
}
.title {
  padding: 5px;
  background-color: blue;
  text-align: center;
}

.categoryLink {
  text-align: center;
  width: 100%;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}
